@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SuperCarStore.ViewModels.StoresViewModel


    <div class="d-flex flex-column landingPage">
        <div class="container-fluid text-center welcomeText flex-grow-1">
            <p class="overlayText">Super Car Experience</p>
            <p>Super Car <span> Experience</span></p>
            <div class="underLine"></div>
        </div>




        <div class="container bookingContainer">
            <form action="~/Cars/CarsInStore" class="form-inline booking pr-0" name="booking">

                
             
                <div class="formSelect">


                    <label><span>Store:</span></label>
                    @Html.DropDownListFor(x => x.SelectedStoreId, new SelectList(Model.Stores, "StoreId", "City"), "Select Store")
                 
                </div>

                <div class="mr-2 pt-2 pickUpDate">
                    <label for="checkin"><span>Date:</span></label>
                    <input type="date" value="" id="checkin">
                </div>


                <button type="submit" class="btn btn-secondary checkBtn" id="search">
                    Check
                </button>

            </form>
        </div>
    </div>
