@{
    ViewBag.Title = "Home Page";
}



<div class="imgCover" alt="mercedes-background">
    <div class="container-fluid text-center welcomeText">
        <p class="overlayText">Super Car Experience</p>
        <p>Super Car <span> Experience</span></p>
        <p class="underLine">______________</p>
    </div>
</div>
